<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:;base64,=">
        <title>Sleepy Anime List</title>
    </head>        
      <body>  
        <h1>Sleepy Anime List</h1>
        <ul class = "animeList">


            <% for (let i = 0; i < animeData.length; i++) {%>
                <li class = "anime">
                <span><%= animeData[i].data.title %></span>
                </li>
<% } %>
   
       
        </ul>

        <h2> Add an Anime:</h2>

        <form id = "form" action ="/addAnime" method = "POST">
            <input type ="text" placeholder = "ID" name = "id">
            <input type ="text" placeholder = "Selector" name = "selector">
            <input type ="text" placeholder = "Start Date" name = "startDate">
            <input type ="submit">
        </form>


        <p></p>
        <!-- <span id = "animeOrder">ID #</span> -->
        <input type ="text" placeholder = "Selector" id = "selector">
        <input type ="text" placeholder = "Start Date" id = "date">
        <input type ="text" placeholder = "Link here" id = "link">
        
        <button type = "button" id = "animeButton">Submit</button>

        <h3>Anime stuff Here</h3>

        

  

        <script src ="main.js"></script>
    </body>
</html>
