<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sleepy Sub Sunday Anime List</title>
    </head>        
      <body>  
        <h1>Sleepy Sub Sunday Anime List</h1>
        <ul class = "animeList">
        <% for (let i = 0; i < info.length; i++) {%>
            <li class = "anime">
                <span><%= info[i].id %></span>
                <span><%= info[i].title %></span>
                <span><%= info[i].selector %></span>
                <span><%= info[i].startDate %></span>
                <span class = "del">Delete</span>
            </li>
        <% } %>
        </ul>

        <h2> Add an Anime:</h2>

        <form id = "form" action ="/addAnime" method = "POST">
            <input type ="text" placeholder = "ID" name = "id">
            <input type ="text" placeholder = "Selector" name = "selector">
            <input type ="text" placeholder = "Start Date" name = "startDate">
            <input type ="text" placeholder = "Link here" id = "link">
            <input type ="submit">
            <button type = "button" id = "animeButton">Submit</button>
        </form>

        <!-- <h3>Anime stuff Here</h3> -->
		
		
		

        

  

        <script src ="main.js"></script>
    </body>
</html>
