<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Press+Start+2P&family=Roboto&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="data:;base64,=">
        <title>We Watch Together</title>
    </head>
<body>

 
    <section id = "banSec">

        <section class = "banLeft">
          <h1 class="banner wewa">We Watch</h1>
          <h1 class="banner tog">Together</h1>
          <p>We Watch Together is here to help you put together a watched anime list for you and your friends. If you take turns selecting what to watch and want to keep track of who selected what and when, this is the app for you!</p>
        </section>

        <section class = "banRight">
          <img src = "https://i0.wp.com/thenerddaily.com/wp-content/uploads/2018/08/Reasons-To-Watch-Anime.jpg?w=1000&ssl=1">
          <section class="banBut">
            <a href="/login"><button type = "button">Login</button></a>
            <a href="/signup"><button type = "button">Sign Up</button></a>
          </section>
        </section>
      </section>




</body>
</html>