<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:;base64,=">
        <title>Sleepy Anime List</title>
    </head>        
      <body>  
        <h1>Sleepy Anime List</h1>

        <h2> Add an Anime:</h2>

        <input type ="text" placeholder = "Selector" id = "selector">
        <input type ="date" placeholder = "Start Date" id = "date">
        <input type ="text" placeholder = "Link here" id = "link">
        
        <button type = "button" id = "animeButton">Submit</button>


        <ul class = "animeList">


            <% for (let i = 0; i < info.length; i++) {%>
                <li class = "anime">
                <span><img src = "<%= info[i].animeImgUrl%>"></span>
                <span><%= info[i].animeTitle %></span>
                <span><%= info[i].selector %></span>
                <span><%= info[i].startDate %></span>
                <span></span>
                <span class = "del"> Delete</span>
                </li>
<% } %>
   
       
        </ul>

       


        

  

        <script src ="main.js"></script>
    </body>
</html>
