/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  html{
    color: rgb(165,165,165);
    background: rgb(21,21,21);
    font-family: "Source Sans Pro"; 
  }
  
  h1{
    text-align: center;
  }

  #add{
      display: inline;
      font-weight: bold;
      padding-right: 20px;
  }

  #formy{
    text-align: center;
    display: inline;
  }
  
  table{
  /*   border: 1px solid yellow; */
    text-align: center;
    margin: 0 auto;
    width: 80%;
    border-spacing: 0 15px;
    /* border-collapse: collapse; */
  }
  
  th{
  /*   border: 1px solid red; */
    background: rgb(33,33,33);
  }
  
  td{
    /* background: rgb(33,33,33); */
  }

  td a{
    color: rgb(165,165,165)
  }

  tbody{
      background-color: rgb(33,33,33);
  }

  tbody:hover{
      background-color: rgb(78, 71, 71);
  }

  .row:hover{
    color: white;
}

  .numLeft{
    border-left: 5px solid blue;
  }
  
  .left{
    border-left: 5px solid green;
  }
  
  img{
    display: block;
    max-height: 200px;
    margin: 0 auto;
  }
  
  .imgTD{
    width: 140px;
  }

  .del img{
    width: 50px;
  }

  .del img:hover{
      cursor: pointer;
      content:url("images/trash-red.png")
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  